footer{
    border: 3px solid black;
    padding: 2px;
    
    display: flex;
    
}
footer section{
    border: 2px solid black;
    padding: 2px;
    flex-basis: 100%;
    order: 2;
}
footer section h4{
    border: 1px solid black;
}
footer section article{
    border: 1px solid black;
    
}
footer section nav{
    border: 1px solid black;
    height: 100%;
    text-align: center;
    line-height: 100px;
}